<?xml version="1.0" encoding="utf-8" ?>
<EventsConfiguration>
  <Events>

    <!--Device Connection-->
    <Event name="Connection Status">
      <Responses>

        <Response value="Connected">
          <Triggers>
            <Trigger filter="Availability" value="Available"/>
          </Triggers>
        </Response>

        <Response value="Disconnected">
          <Triggers>
            <Trigger filter="Availability" value="Unavailable"/>
          </Triggers>
        </Response>

      </Responses>
    </Event>
    <!--Device Emergency Stop-->
    <Event name="Emergency Stop">
      <Responses>

        <Response value="Armed">
          <Triggers>
            <Trigger filter="EmergencyStop" value="Armed"/>
            <Trigger filter="Availability" value="Available"/>
          </Triggers>
        </Response>

        <Response value="Triggered">
          <Triggers>
            <Trigger filter="EmergencyStop" value="Triggered"/>
            <Trigger filter="Availability" value="Available"/>
          </Triggers>
        </Response>

      </Responses>
    </Event>
    
    <!--Basic Device Status-->
    <Event name="Status" description="Basic Device Status">
      <Responses>

        <!--Device is actively functioning-->
        <Response value="Active" description="Device is actively functioning">
          <Triggers>
            <MultiTrigger>
              <Triggers>
                <Trigger filter ="ControllerMode" value="Automatic"/>
                <Trigger filter ="ControllerMode" value="Manual_Data_Input"/>
              </Triggers>
            </MultiTrigger>
            <Trigger filter="Controller/Execution" value="Active"/>
            <Trigger filter="Controller/System" value="Fault" modifier="NOT"/>
            <Trigger filter="Controller/Program" value="" modifier="NOT"/>
            <Trigger filter="EmergencyStop" value="Armed"/>
            <Trigger filter="Availability" value="Available"/>
          </Triggers>
        </Response>

        <!--Device is able to function but is idle-->
        <Response value="Idle" description="Device is able to function but is idle">
          <Triggers>
            <Trigger filter ="System" value="Fault" modifier="NOT"/>
            <Trigger filter ="EmergencyStop" value="Armed"/>
            <Trigger filter ="Availability" value="Available"/>
          </Triggers>
        </Response>

        <!--Device is not able to function and needs attention-->
        <Response value="Alert" description="Device is not able to function and needs attention">
          <Triggers>
            <Trigger filter ="Availability" value="Available"/>
          </Triggers>
        </Response>

        <!--Device is not connected-->
        <Response value="Disconnected" description="Device is not connected">
          <Triggers>
            <Trigger filter ="Availability" value="Unavailable"/>
          </Triggers>
        </Response>

      </Responses>
    </Event>

    <!--Program Status (Started, Paused, or Stopped)-->
    <Event name="Program Status" description="Program Status (Started, Paused, or Stopped)">
      <Responses>

        <Response value="Completed" description="Program Completed Successfully">
          <Triggers>
            <Trigger filter="Controller/Execution" value="READY"/>
          </Triggers>
        </Response>

        <Response value="Started" description="Program has been started">
          <Triggers>
            <Trigger filter="Controller/Execution" value="ACTIVE"/>
          </Triggers>
        </Response>

        <Response value="Paused" description="Program has encountered an expected stop but can recover">
          <Triggers>
            <MultiTrigger>
              <Triggers>
                <Trigger filter="Controller/Execution" value="FEED_HOLD"/>
                <Trigger filter="Controller/Execution" value="OPTIONAL_STOP"/>
                <Trigger filter="Controller/Execution" value="PROGRAM_STOPPED"/>
              </Triggers>
            </MultiTrigger>
          </Triggers>
        </Response>

        <Response value="Error" description="Program has encountered an unexpected stop but can recover">
          <Triggers>
            <Trigger filter="Controller/Execution" value="INTERRUPTED"/>
          </Triggers>
        </Response>

        <Response value="Stopped" description="Program was stopped but cannot recover">
          <Triggers>
            <Trigger filter="Controller/Execution" value="STOPPED"/>
          </Triggers>
        </Response>
        
      </Responses>
    </Event>
    
  </Events>
</EventsConfiguration>